/* Змінні */
:root {
    --background-color: #242028;
    --text-color: #736C6D;
    --accent-color: #EACF7B;
    --header-font: 'Golos Text', sans-serif;
    --text-font: 'Golos Text', sans-serif;
    --header-font-weight: bold;
    --text-font-weight: regular;
    --header1-size: 4.5em;
    --header2-size: 4em;
    --text-size: 2em;
    --button-font-size: 2em; /* Розмір тексту для кнопок */
}

/* Основні стилі */
body {
    font-family: var(--text-font);
    font-weight: var(--text-font-weight);
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: var(--background-color);
    color: var(--text-color);
    text-align: left;
}

header, section {
    padding: 20px;
}

h1 {
    margin: 10px 0;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    color: var(--accent-color);
    font-size: var(--header1-size);
    text-transform: uppercase;
    text-align: left;
    letter-spacing: 0.06em; /* Відстань між літерами */
    line-height: 1.2em; /* Висота рядка */
}

h2 {
    margin: 10px 0;
    font-family: var(--header-font);
    font-weight: var(--header-font-weight);
    color: var(--accent-color);
    font-size: var(--header2-size);
    text-transform: none;
    text-align: left;
}

p, li {
    font-size: var(--text-size);
    color: var(--text-color);
}

.hero {
    background-color: #3A3438;
    padding: 40px 20px;
    border-radius: 8px;
}

.cta {
    display: inline-block;
    padding: 10px 20px;
    background-color: var(--accent-color);
    color: var(--background-color);
    text-decoration: none;
    margin-top: 20px;
    border-radius: 5px;
    font-size: var(--text-size);
}

.accordion-item {
    margin-bottom: 10px;
    border: none;
    background-color: var(--background-color);
}

.accordion-button {
    background-color: var(--background-color);
    color: var(--accent-color); /* Завжди акцентний колір для тексту */
    border: none;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    text-align: left;
    outline: none;
    font-size: var(--button-font-size);
    font-weight: bold; /* Жирний текст */
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--text-color);
    position: relative;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.button-text {
    flex-grow: 1; /* Займає всю доступну ширину */
}

.button-arrow {
    flex-shrink: 0; /* Займає лише необхідну ширину */
}

.accordion-button::after {
    content: none; /* Видалено стрілку з псевдоелемента */
}

.accordion-button.active {
    border-bottom: 1px solid var(--accent-color); /* Акцентний колір для лінії при відкритому стані */
}

.accordion-button.active .button-arrow {
    transform: rotate(-180deg);
    color: var(--text-color); /* Базовий сірий колір для стрілки у відкритому стані */
}

.accordion-content {
    display: none;
    padding: 20px;
    background-color: var(--background-color);
    animation-duration: 0.5s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
    transform-origin: top; /* Відкривання з верхньої частини */
}

.accordion-content.slideDown {
    animation-name: slideDown;
}

.accordion-content.slideUp {
    animation-name: slideUp;
}

.accordion-content ul {
    list-style-type: none;
    padding-left: 0;
}

.accordion-content ul li {
    margin: 5px 0;
    padding-left: 20px;
    position: relative;
    color: var(--text-color);
    font-size: var(--text-size);
}

.accordion-content ul li::before {
    content: '●';
    position: absolute;
    left: 0;
    color: var(--accent-color);
    font-size: 1em;
}

.footer {
    background-color: #333;
    color: var(--text-color);
    padding: 20px 0;
    text-align: left;
    margin-top: 40px;
}

/* Анімація виїзду та заїзду вмісту */
@keyframes slideDown {
    0% {
        opacity: 0;
        transform: translateY(-10%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideUp {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-10%);
    }
}

/* Mobile-first підхід */
@media (min-width: 768px) {
    .author-info {
        flex-direction: row;
    }
    .hero {
        padding: 60px 40px;
    }
    .cta {
        font-size: 1.2em;
    }
}

@media (min-width: 1024px) {
    header, section {
        max-width: 900px;
        margin: auto;
    }
}
